/*
font-family: 'fredericka the great', cursive;
font-family: 'open sans', sans-serif;
font-family: 'pacifico', cursive;

CORES 
VERDE ESCURO: #065902
VERDE MAIS CLARO: #078C31
AMARELO: #F2B705
VERMELHO MAIS CLARO: #F03733
VERMELHO ESCURO: #D90404

CINZA ESCURO: #404040
CINZA CLARO: #F7F7F7

*/

* {
    font-size: 16px;
}

h1,h2, h3 {
    font-family: 'fredericka the great', cursive; ;
    text-align: center;
    text-transform: uppercase;
    color: #D90404;
}

h4, h5, h6 {
    font-family: 'pacifico', cursive;;
    text-align: center;
    color: #F2B705;
}

h1 {
    font-size: 600%;
    font-weight: 200;
}

h2 {
    font-size: 400%;
}

p, lu, a {
    font-family: 'open sans', sans-serif;
}

/* ELEMENTOS DO HEADER*/

header div#chamada h1 {
    color: white;
    text-shadow: 4px 6px 12px #000;
}

header div#chamada h4 {
    font-size: 250%;
    text-shadow: 4px 6px 12px #000;
    margin-bottom: 55px;
}

header div#chamada a {
    font-size: 110%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    background: linear-gradient(rgba(7,140,49,55)0%, rgba(6,89,2,35)40%, rgba(6,89,2,35)100%);
    padding: 20px 80px;
    border-radius: 50px;
}
