/*
font-family: 'fredericka the great', cursive;
font-family: 'open sans', sans-serif;
font-family: 'pacifico', cursive;

CORES 
VERDE ESCURO: #065902
VERDE MAIS CLARO: #078C31
AMARELO: #F2B705
VERMELHO MAIS CLARO: #F03733
VERMELHO ESCURO: #D90404

CINZA ESCURO: #404040
CINZA CLARO: #F7F7F7

*/